body {
  font-family: 'Montserrat', sans-serif;
}

#list {
	width:50%;
}

#map {
	height: 300px;
	width: 100%;
}

.main{
	display: flex;
}

input{
	width:100%;
}

li:hover {
	text-decoration: none;
	color: red;
	background: rgba(255,255,255,0.2);
}

@media only screen and (max-width : 500px) 
{
	#map {
		height: 500px;
	}
}



